# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../DockerImageUsingJenkin\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\DELL\Desktop\SpringProject\JavaBrainMicroservice\DockerImageUsingJenkin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
